{{ 'express-checkout.css' | asset_url | stylesheet_tag }}

<form id='express-checkout-form' class="express-checkout-form" onsubmit="(e) => e.preventDefault()" >
  <div class='express-checkout-fields'>
    {%- for field in checkout.fields %}
      <div class='field'>
        <label for='f-{{ field.name }}'>{{ field.display_name }}</label>
        <input
          type='{{ field.type }}'
          id='f-{{ field.name }}'
          name='{{ field.name }}'
          placeholder='{{ field.placeholder }}'
          {% if field.required %}
          required
          {% endif %}>
      </div>
    {%- endfor %}
  </div>
  <button
    class='yc-btn w-full express-checkout-button mt-8'
    onclick='placeOrder(this)'>
    <span>buy now</span>
  </button>
</form>

{% schema %}
  {"label": "Express checkout"}
{% endschema %}